@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-blue-background-color: #1f2937;
    --white-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --button-background-color: #3882f6;
    --information-header-text-color: #1f2937;
    --quote-background-color: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 5px 18px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.btn.sign-up {
    background-color: var(--button-background-color);
    color: var(--white-text-color);
}

.header {
    background-color: var(--dark-blue-background-color);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 150px;
    padding-bottom: 60px;
}

.right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h3, h2 {
    color: var(--white-text-color);
}

h2 {
    font-size: 48px;
}

.small-text {
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.text {
    width: 400px;
}

h3, ul {
    margin-bottom: 50px;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    font-size: 18px;
    color: var(--secondary-text-color);
}

img {
    width: 250px;
}

#header-media {
    margin-left: auto;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frames h2 {
    color: var(--information-header-text-color);
    font-size: 30px;
    margin: 30px 0;
}

.frames .container .frame {
    height: 100px;
    width: 100px;
    border: 3px solid var(--button-background-color);
    border-radius: 8px;
}

.frames .container {
    margin: 0 15px;
}

.frames .container .small-text {
    max-width: 100px;
    padding: 12px 3px;
    text-align: center;
    color: var(--information-header-text-color);
}

.frames .containers {
    display: flex;
    margin-bottom: 80px;
}

.quote {
    background-color: var(--quote-background-color);
    display: flex;
    justify-content: center;
}

.quote .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    gap: 10px;
    font-size: 36px;
    padding: 30px 250px;
}

.quote .text {
    width: fit-content;
}

.author {
    align-self: flex-end;
    font-style: normal;
}

.banner {
    background-color: var(--button-background-color);
    border-radius: 8px;
    margin: 80px 120px;
    padding: 30px;
    color: var(--secondary-text-color);

    display: flex;
}

.banner .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-text-color);
}

.banner .content {

    display: flex;
    flex-direction: column;
}

.banner .btn.sign-up {
    align-self: flex-end;
    margin-left: auto;
    border: 1px solid white;
    padding: 3px 30px;
}

.flex-container {
    flex: 1;
}

footer {
    background-color: var(--dark-blue-background-color);
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    justify-self: stretch;
}